name: Detect Project ID leak

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Find in project settings if there's any value in between "cloudProjectId: " and end of line.
      - name: Run a one-line script
        run: python3 -c "import re; import sys;res = re.search(r'.*cloudProjectId:.*\w+\n', open('ProjectSettings/ProjectSettings.asset').read())!=None;status = 1 if res else 0; sys.exit(res)"

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Action done checking
